<h2>Task title: <%= @task.title %></h2>
<p>Description: <%= @task.details %></p>

<br>
<%= link_to 'Edit task', edit_task_path %>

<br>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<br>
<%= link_to 'Return to index', tasks_path %>
